MONGO_URI=
PORT=
JWT_SECRET_KEY=
JWT_EXPIRES=
COOKIE_EXPIRE=
STRIPE_SECRET_KEY=s
CLIENT_URL= 
SUPER_ADMIN_NAME=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
BACKEND_URL=
SMTP_USER=
SMTP_KEY=
SENDER_EMAIL=
OPENAI_API_KEY=
JWT_TIMEOUT=1h
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

